html, body{
    height:100%;
    margin:0;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    align-items: center;
}

.toolbar a {
    padding: 10px;
}

.app {
    width: 20px;
    height: 20px;
}


.logo {
    padding-top: 112px;
    height: 92px;
    width: 272px;
}

#micro {
    height: 20px;
    width: 20px;
}

#top_contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_connexion {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#478bf9;
	color:#fff;
	border-radius:2px;
	width:100px;
	border:none;
}

.btn_milieu {
    padding: 10px 16px;
    margin: 11px 4px;
	font:bold 13px Arial;
	background:#f2f2f2;
	color:#757575;
	border-radius:2px;
	width:150px;
    border:1px solid #f2f2f2;
}

.btn_milieu:hover {
    padding: 10px 16px;
    margin: 11px 4px;
	font:bold 13px Arial;
	background:#f2f2f2;
	color:black;
	border-radius:2px;
	width:150px;
	border:1px solid #C4C4C4
}

a
{
   color : #3C3C3C;
   text-decoration:none;
   padding:10px;
   font-family: arial;
    font-size: 12.5px;
}

a:hover
{
   text-decoration: underline;
}

li{
    list-style:none;
    margin-left:0;
    padding-left:0;
}

/*footer{
   
   display: flex;
   justify-content: space-around;
   background-color: #f2f2f2;
}*/

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    display: inline-block;
}

.footer_haut {
    
    width: 100%;
    float: left;
    border-bottom: 1px solid #3C3C3C;
    border-top : 1px solid #3C3C3C;
}

.footer_haut li {
    padding: 10px;
    margin: 5px;
    list-style-type: none;
}

.footer_haut li a {
    padding: 5px;
    margin: 5px;
    color: #3C3C3C;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
}

.footer_bas {
    width: 100%;
    justify-content: space-between;
}

.footer_droite{
    float: left;
}

.footer_gauche{
    float: right;
}

.wrapper{
    min-height:100%;
    /*margin-bottom:-100px;*/
}

/*.wrapper:after{
    content:“”;
    display:block;
}*/

/*.wrapper:after, footer{
    height:100px;
}
*/
